*,
*::after,
*::before {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
 font-family: sans-serif;
 font-size: 62.5%;
}

body {
    height: 100vh;
    background-color: #222832;
}

.container {
    height: 50vh;
    width: 50%;
    margin: 2rem auto;
    padding: 0 1rem;
    border: 1px solid #777;
    background-image: linear-gradient(160deg, #a18cd1, #fbc2eb );
}

.heading {
    color: #03070e;
    font-size: 3rem;
    text-align: center;
    padding: 1rem;
    border-bottom: 2px solid #bebbbb;
}

.icon {
    display: inline-block;
    border: 1px solid #777;
    padding: .2rem ;
    width: 2rem;
    height: 2rem;
    text-align: center;
    margin-right: .5rem;
    font-size: 1.2rem;
    border-radius: 1rem;
    font-weight: bold;
}

.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 50%;
    justify-content: space-evenly;
}

.cont-1, .cont-2 {
    display: flex;
    align-items: center;
}

.inp {
    height: 3rem;
    padding: 0 1rem;
    outline: none;
}

.btn {
    border: none;
    outline: none;
    padding: 1rem 1.5rem;
    border-radius: .5rem;
    cursor: pointer;
    font-family: inherit;
    font-size: 1.2rem;
    background-color: #298386;
    color: #f2f2f2;
}